src/main/mule/impl/orders-sapi.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
  <http:listener-config doc:id="1eecf7a6-010b-46c2-b093-d80cfcc3c3bb" doc:name="HTTP Listener config" name="HTTP_Listener_config">
    <http:listener-connection host="0.0.0.0" port="8081" protocol="HTTPS"/>
  </http:listener-config>
  <apikit:config api="api/order-service.raml" doc:id="a46c4628-df83-488e-ad5b-c553c5c9cba8" doc:name="Router" httpStatusVarName="httpStatus" name="Router" outboundHeadersMapName="outboundHeadersMapName"/>
  <api-gateway:autodiscovery apiId="${autodiscovery.api.id}" doc:id="6c7e676f-d0f0-4084-8aed-bd0a8c266e9d" doc:name="API Autodiscovery" flowRef="orders-sapi-main" ignoreBasePath="true"/>
  <os:object-store doc:id="8eb7cc49-88ed-42a7-8785-220a73488f23" doc:name="Object store" name="Object_store"/>
  <flow name="orders-sapi-main">
    <http:listener allowedMethods="GET,POST,PUT,DELETE,PATCH,OPTIONS" config-ref="HTTP_Listener_config" path="/api/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body><![CDATA[#[payload]]]></http:body>
        <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="Router" doc:id="a33754dd-6bee-445a-8b83-c1efe9737426" doc:name="APIkit Router"/>
    <error-handler>
      <on-error-propagate type="APIKIT:BAD_REQUEST">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">400
						</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_FOUND">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>
  <flow name="orders-sapi-console">
    <http:listener config-ref="orders-sapi-httpListenerConfig" path="/console/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:console config-ref="orders-sapi-config"/>
    <error-handler>
      <on-error-propagate type="APIKIT:NOT_FOUND">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>
  <flow name="get:\orders:orders-sapi-config">
    <flow-ref doc:id="ac693e88-1d88-4361-866b-798b0b000528" doc:name="Flow Reference" name="getOrders"/>
    <error-handler>
      <on-error-propagate doc:id="2e682428-2e0b-4471-9b0a-dfda0bf29afa" doc:name="specific_exception_handler" enableNotifications="true" logException="true" type="STREAM_MAXIMUM_SIZE_EXCEEDED">
        <logger doc:id="50b3000c-6253-48fa-a185-a4cdd722de28" doc:name="Logger" level="INFO"/>
      </on-error-propagate>
      <on-error-continue doc:id="a19bf525-2142-4098-9f73-e89146327e3c" doc:name="On Error Continue" enableNotifications="true" logException="true">
        <logger doc:id="79de3dd3-8b99-4668-8b71-b44f085987f6" doc:name="Logger" level="INFO"/>
      </on-error-continue>
    </error-handler>
  </flow>
  <flow name="post:\order:orders-sapi-config">
    <logger doc:id="f66b74db-88f2-47b4-8a9b-819da66a0977" doc:name="Logger" level="INFO"/>
    <os:store doc:id="cbe3bfa7-d4f1-4437-b248-90ae9da81f91" doc:name="Store" objectStore="Object_store"/>
  </flow>
</mule>
